#!/usr/bin/env bash

source .config/environment
watch_file .config/environment

#
# Disabling Nixify for the time being as it currently does not work with
# direnv version >2.20.1. Nixify is `use nix` with caching.
#
# TODO: Consider Lorri https://github.com/target/lorri/.
#
enable_nixify=0
if [[ ${enable_nixify} -eq 1 ]]; then
  source "${PROJECT_CONFIG_HOME}/direnv/envrc.use_nix"
  use nix -s "${PROJECT_CONFIG_HOME}/nix/shell.nix"
else
  use nix "${PROJECT_CONFIG_HOME}/nix/shell.nix"
fi
watch_file "${PROJECT_CONFIG_HOME}/nix/"*.nix
